@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
    font-family: "Mulish", sans-serif;
}


/* Banner Section  */

.banner-head-text{
    background: linear-gradient(90deg, #797DFC, #5254AD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Banner Section  */